.landing-heading{
    text-align: center;
    font-size: 42px;
    text-transform: capitalize;
    font-family: "Lucida Console", Courier, monospace;
    padding: 20px;
    /* color: white; */

}

.landing-image{
    animation: mymove  5s linear infinite;
    margin:10px;
}

@keyframes mymove{
    0%   {transform:scale(1,1)}
    25%  {transform:scale(1.5,1.5)}
    50%  {transform:scale(2,2)}
    75% {transform:scale(1.5,1.5)}
    100% {transform:scale(1,1)}   
}

.landing-container{
    margin-top: -14px;
    background-image: linear-gradient(tomato,red);
    background-size: cover;
    color: white;
}
.description{
    margin: 5px;
    padding: 10px; 
    font-family: sans-serif;
    /* color: white; */
    font-weight: 600;
}

.content-heading{
    text-align: center;
    margin-top: 0;
    /* margin-top: 20vh; */
    background-color: black;
    padding: 10px;
    
    border-radius: 10px;
    color: white;
}

.point{
    text-align: center;
    margin: 0;
    padding: 5px;
    /* background-color: tomato; */
    text-transform: capitalize;
    color: white;
    font-weight: 600;

}

.content-container{
    background-color: tomato;
    margin: 20px;
    border-radius: 10px;
}

.point-container{
    margin: 10px;
    border-radius: 5px;
}

.grid-content{
    display: grid;
    grid-template-columns: auto auto;
}

@media screen and (max-width:600px){
    .grid-content{
        display: block;
    }
}