ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: fixed; 
    top: 0;
    z-index: 5;
    cursor: pointer;
  }
  
  li {
    float: left;
  }
  
  li span{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .icon-li{
     
  }
  .icon{
      height: 40px;
      margin: 2px;
      background-color: transparent;
  }
  li span:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: tomato;
  }

  @media screen and (max-width: 600px){
      li span{
          padding: 10px;
      }
  }